.text{
    text-align: left;
    margin:0 10px 10px 10px;
}
.text-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}




table {
    border-collapse: collapse;
    padding: 0;
    max-width: 650px;
    table-layout: fixed;
}

table tr {
    background-color: #e6f2f5;
    border-bottom: 2px solid #fff;
}
table th,
table td {
padding: 3px 10px;
border-right: 2px solid #fff;
}
table th {
/* font-size: .85em; */
font: size 14px;
}
table thead tr{
background-color: #167F92;
color:#fff;
}
table tbody th {
    background: #78bbc7;
    color: #fff;
}
.txt{
    text-align: left;
    font-size: .85em;
}
.price{
text-align: right;
color: #167F92;
font-weight: bold;
}
.non{
background:#fff
}
